[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
pydantic-settings = "*"
motor = "*"
pymongo = "*"
python-multipart = "*"
pytest = "*"
httpx = "*"
python-dotenv = "*"
stripe = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}

[dev-packages]

[requires]
python_version = "3.14"
