fastapi
uvicorn
pydantic
pydantic-settings
motor==3.3.2
pymongo==4.6.1
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pytest
httpx
python-dotenv
stripe
google-auth
google-auth-oauthlib
google-auth-httplib2
